.md-header {
    background-color: #144d2c !important; /* Verde específico */
}

.md-header .md-navigation .md-nav__link,
a {
    color: #144d2c !important; /* Verde específico */
}

a:hover {
    color: #0d3a1f !important; /* Um tom mais escuro de verde para hover */
}